
@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('@/assets/Fonts/Fraunces,Playfair_Display/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('@/assets/Fonts/Fraunces,Playfair_Display/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


/* variables.css */
:root {
  --primary: #7C7E73; 
  --light-ivory: #F6F4F0;
  --Muted-Olive: #7C7E73;
  --text-primary: #7C7E73;
  --text-secondary: #7C7E73;
  --background: var(--light-ivory);
  /* Bordures */
  --border-radius: 12px;
  --border-radius-lg: 20px;
}

/* Reset et base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  line-height: normal;
  /* padding: 50px 24px; */
}

/* Inputs globaux */
input, textarea {
  background-color: var(--light-ivory) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Focus mobile propre */
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--Muted-Olive);
}

/* App container mobile */
#app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}

/* Styles pour les pages avec navigation */
/* #app.with-nav {
  padding-bottom: 80px;
} */

main.with-nav {
  min-height: calc(100vh - 80px);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}