/* variables.css */
:root {
  /* Couleurs Figma SafeHaven */
  --primary: #7C7E73; 
  --light-ivory: #F6F4F0;
  --Muted-Olive: #7C7E73;
  --text-primary: #7C7E73;
  --text-secondary: #7C7E73;
  /* Bordures */
  --border-radius: 12px;
  --border-radius-lg: 20px;
  
}

/* Reset et base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 50px 24px; */
}

/* App container mobile */
#app {
  width: 100%;
  min-height: 100vh;
  padding: var(--safe-area-top) var(--safe-area-right) var(--safe-area-bottom) var(--safe-area-left);
  background-color: var(--background);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}